name: Automated API tests using Postman CLI

on: push

jobs:
  automated-api-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Login to Postman CLI
        run: |
          postman login --with-api-key ${{ secrets.POSTMAN_API_KEY }} || { echo "Login failed"; exit 1; }

      - name: Login to Postman CLI
        run: |
          set -x
          postman login --with-api-key ${{ secrets.POSTMAN_API_KEY }}
      - name: Run API tests
        run: |
          postman collection run "4664080-c00c902a-30f9-4085-96fc-6aed1d1c987c" -e "4664080-2366ea88-5876-4e28-b9d3-7d62bfd27760"
